body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./background.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .sidebar {
  height: 100%;
  width: 160px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(168, 159, 159);
  overflow-x: hidden;
  padding-top: 16px;
} */
/* .news_container{
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 50vh;
  align-items: center;
} */
.card{
  float: right;
  display: grid;
  max-width: 50%;
  max-height: 5%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0.2,0.4);
  transition: 0.3s;
  background-color: rgb(216, 213, 213);
  margin-right: 25%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0.8,1);
}


.card img{
  /* padding-top: 5%; */
  padding-left: 10%;
  display: inline-flex;
  max-width: 80%;
  max-height: 50%; 
}
.image_tag{
  padding-top: 5%;
  padding-left: 10%;
  display: inline-flex;
  max-width: 80%;
  max-height: 25%;
}

.card p{
  /* padding-top: 5%; */
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
.card h3{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.card h2{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 70%;
  position: relative;
  display: flex;
  padding-left: 15%;
}

.searchTerm {
  width: 100%;
  border: 3px solid #C9B8B4 ;
  border-right: none;
  padding: 10px;
  height: 30px;
  font-size: large;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #C9B8B4 ;
}

.searchButton {
  width: 90px;
  height: 55px;
  border: 3px solid #C9B8B4 ;
  background: #C9B8B4 ;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 0%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.query_container {
  float: left;
  display: table;
  height: 100%;
  width: 50%;
}

.query-card{
  display: inline-block;
  /* align-content: flex-end; */
  border: 1px solid rgb(184, 187, 184) ;
  width: 300px;
  height: 60px;
  text-align: center;
}
.query-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0.4,0.6);
}
.query-card h2{
  float: left;
  margin-left: 30px;
}
.query-card button{
float: right;
margin-top: 15px;}
.searchButtonSide{
  width: 25px;
  height: 25px;
  border: 1px solid #C9B8B4 ;
  /* background: #C9B8B4 ; */
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 10px;
}
 

/* .query-card h1{
  padding-left: 10%;
} */
/* .row{
  float: left;
  width: 25%;
  padding-left: 20px;
} */
/* .sidebar{
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: auto .5fr auto;
  grid-gap: 2px;

  height: 10vh;
} */
.favorite_articles{
  border: 3px solid rgb(184, 187, 184) ;
  width: 300px;
  text-align: center;
  }
.search_card_container{
  border: 3px solid rgb(184, 187, 184) ;
  width: 300px;
  text-align: center
  }

.favorite_button {
    /* border: none; */
    margin-left: 10;
    padding: 0;
    padding-top: 0 ;
    border-radius: 50%;
    width:75px;
    height:75px;
    border: transparent;
    background: transparent;
}

img[alt="star"]
{
  height: max-content;
  padding-top: 0;
  padding-left: 0;
}
img[alt ="image_tag"]{
  border-radius: 60%;
  width:200px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img[alt="header_image"]{
   width: 30%;
    height: 70%;
}
.toggle_button{
  border-radius: 4px;
   background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   padding: 20px;
   width: 200px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
}
.toggle_button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .toggle_button span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .toggle_button:hover span {
   padding-right: 25px;
 }
 .toggle_button:hover span:after {
   opacity: 1;
   right: 0;
 }
 .menu_class{
    margin:0px auto;
 }
 .link_share{
   padding-left: 35%;
 }
 .weather{
   float: right;
  display: grid;
  max-width: 50%;
  max-height: 5%;
  border-radius: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0.2,0.4); */
  transition: 0.3s;
  background-color: transparent;
  margin-right: 10%;
  font-size: medium;
 }
 .weather li{
   font-size: smaller;
 }
 button {
   size: 6px;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
/* 
.center{
  position:absolute;
  width:400px;
  height:400px;
  top:50%;left:50%;
  margin-left:-200px;
  margin-top:-200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  opacity:0;
  transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay:0s;
  color:#333;
} */
  /* .input{
    width:100%;
    padding:15px;
    margin:5px;
    border-radius:1px;
    border:1px solid #ccc;
    font-family:inherit;
  } */
.weatherimg{
  padding-top: 5%;
  padding-left: 10%;
  display: inline-flex;
  max-width: 80%;
  max-height: 25%;
  background: transparent;
}
.navbar{
  overflow: hidden;
  /* background-color: #333; */
  float: left;
  font-size: 30px;
  color:cornflowerblue;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  border-radius: 10px;
  background: rgb(201, 199, 198) ;
  height: 40px;
  margin-top: 10px;
}
.clock{
  font-size: 25px;
  text-decoration-color: cornflowerblue;
}
.signuplogin{
  font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.signuplogin h1{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
  text-align: center;}

.signuplogin input[type="text"],
.signuplogin input[type="password"]{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.signuplogin input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.signuplogin input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
.bodyclass{
  width: 500px;
}